body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

.top-banner {
  display: flex;
  align-items: center;
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}

.half-width {
  width: 50%;
  padding: 20px 80px;
}

.half-width img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(#ff926e, #ff6b4e);
  padding: 10px 40px;
  display: inline-block;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 20px;
}

.dream-big {
  margin-top: 50px;
  display: flex;
  align-items: center;
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.flexible-container {
  display: flex;
  margin: 50px 0;
  align-items: center;
}

.experi-head {
  text-align: center;
  color: #ff7b5b;
}

.exp-h3 {
  color: #ff7b5b;
}

.exp-h1 {
  color: #ff287c;
}

.experi-item {
  width: 40%;
  padding: 40px 80px;
  margin: 0 3%;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.exp-p {
  color: orange;
}
#exp-upper {
  border-left: 5px solid;
  border-image: linear-gradient(#ff3081, #ff6b4d);
  border-image-slice: 1;
}
#exp-down {
  border-left: 5px solid;
  border-image: linear-gradient(#f66548, #ff3081);
  border-image-slice: 1;
}

footer p {
  text-align: center;
  color: #ff287c;
  font-size: 18px;
  font-weight: 500;
}
